{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Créer un nouvel article</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{{ path('app_article') }}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Créer un article</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Formulaire de création d'article</h5>
                        {{form(form)}}
                    </div>
                </div>

                <div style="height: 100vh"></div>
                <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
            </div>
        </main>
    </div>
{% endblock %}
